body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  max-width: 560px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.wrapper {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.start-link {
  border: 2px solid white;
  border-radius: 12px;
  display: block;
  padding: 10px 25px;
  background: #00526f;
  color: #fff;
  text-decoration: none;
  text-align: left;
  position: absolute;
  max-width: 300px;
  line-height: 24px;
  font-size: 1em;
  font-weight: bold;
  right: 0;
  top: 85vh;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  user-select: none;
  cursor: pointer;
}

.dr-hidden {
  display: none;
}

.home {
  height: 100%;
  overflow: scroll;
}
.home.dr-hidden {
  display: none;
}

.home__screenshot {
  width: 100%;
  height: auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 5px;
  width: 100%;
  z-index: 20;
  position: relative;
  border-bottom: 1px solid black;
}

.header-text {
  padding: 0;
  margin: 0;
  color: #175e78;
}

.close-button {
  font-size: 16px;
  color: grey;
  padding: 0 20px;
  cursor: pointer;
}

/*Transition panels */

.white-panel,
.purple-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.purple-panel {
  z-index: 4500;
  background: #00526f;
}

.white-panel {
  z-index: 5000;
  background: #efefef;
}

/* MESSAGES */
.msg-container {
}

.msg {
  background: #f5f5f5;
  color: #222;
  margin: 5px 15px 15px 15px;
  max-width: 400px;
  padding: 10px 10px;
  border-radius: 2px;
}

.image-msg img {
  max-width: 100%;
  width: 450px;
  height: auto;
}

.image-msg {
  font-weight: bold;
}

.image-msg .msg-date {
  font-size: 12px;
  color: grey;
}

.text-msg {
  font-size: 15px;
  line-height: 20px;
}

.red-msg {
  background: #b5131a;
  color: white;
}

.question-msg {
  font-weight: bold;
  margin-bottom: 5px !important;
}

.reply-box {
  position: fixed;
  bottom: 4vh;
  right: 3vw;
  z-index: 50;
}

.replies {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.reply-btn {
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
  text-align: right;
  margin: 3px 0;
  background: #00526f;
  color: white;
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 10px;
  padding: 10px 15px;
}

.black-btn {
  background: #454545;
  font-weight: normal;
}

.timeline-bar {
  position: absolute;
  height: 10000px;
  width: 3px;
  background: #b70f0f;
  top: 5px;
  left: 50px;
  z-index: 10;
}

.timeline-container {
  position: relative;
}

.timeline .timeline-element:nth-child(2n) {
  margin-bottom: 30px;
}

.timeline-element {
  display: flex;
}

.timeline-element__content p {
  padding: 0 15px;
}

.timeline-date {
  color: grey;
  margin-bottom: 0 !important;
}

.timeline-text {
  margin-top: 5px !important;
}

.timeline {
  position: relative;
  z-index: 20;
}

.timeline-element img {
  width: 100px;
}
