header{
  -webkit-box-shadow: 0px 6px 21px 1px rgba(161,156,159,1);
  -moz-box-shadow: 0px 6px 21px 1px rgba(161,156,159,1);
  box-shadow: 0px 6px 21px 1px rgba(161,156,159,1);
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 20px 5px;
  width: 100%;
  z-index: 20;
  position: relative;
}

.header-text{
  padding: 0;
  margin : 0;
}

.close-button{
  font-size: 24px;
  color: #333;
}
