{{#elements}}
<div class="timeline-element">

  <div class="timeline-element__image">
      <img src="{{{image}}}" alt="image">
  </div>

  <div class="timeline-element__content">
    <p class="timeline-date">{{date}}</p>
    <p class="timeline-text">{{text}}</p>
  </div>
</div>
{{/elements}}
