body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container{
  max-width: 560px;
  width : 100%;
  margin: 0 auto;
  border: 1px solid yellow;
}

.wrapper{
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}
