.start-link {
  border-radius: 100px;
  display: inline-block;
  padding : 10px 5%;
  background: #00526F;
  color : #fff;
  text-decoration: none;
  text-align: right;
  position: fixed;
  font-size: 24px;
  right : 10vw;
  bottom : 5vh;
}

.home {

}

.home__screenshot {
  width: 100%;
  height: auto;
}
